h1 {
  text-align: center;
  color: white
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
  color: white;
  border: 2px solid black;
  background-color: 

}
  #BlackOps{
    background-image: url('http://feelgrafix.com/data_images/out/28/988411-call-of-duty-black-ops.jpg');
  }
